*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    
}

:root{
    --color1: #2b2b2b;
    --color2: #141414;
    --color3: #215e24;
    --color4: #fff;
}

.nav_container{
    width: 100vw;
    height: 200px;
    background-color: var(--color1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login_area{
    height: inherit;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.login_button{
    grid-column: 6 / 9;
    grid-row: 7 / 9;
}

.register_button{
    grid-column: 6 / 9;
    grid-row: 2 / 4;
}

.profile_info{
    grid-column: 2 / 5;
    grid-row: 2 / 9;
    border-radius: 50%;
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-template-rows: repeat(6, 1fr);
}
.profile_info div{
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    border-radius: 50%;
    background: url("../img/pfp.png");
    margin: 5px;
}

.profile_info i{
    grid-column: 1 / 5;
    grid-row: 5 / 7;
    font-size: 24px;
    justify-self: center;
    align-self: center;
    font-style: normal;
}

